[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "content/posts/git"]
	path = content/posts/git
	url = https://github.com/SAFEluren/posts.git
