{{- define "main" }}
<style type="text/css">
  .text {
    font-size: 40px;
  }

  .not-found {
    display: flex;
    flex-direction: column;
  }

  .return {
    font-size: 30px;
  }
</style>

<div>
  <div class="not-found">
    <p>404</p>
    <p class="text">页面去哪了呢?</p>

    <img src="https://s21.ax1x.com/2025/06/11/pVk18Ej.webp" style="height: 10rem;margin-top: 4rem;">
    <a href="/#" class="return">返回主页</a>
    <!-- <img src="https://s21.ax1x.com/2024/11/17/pAR9n9H.png" style="height: 10rem;"> -->
  </div>

  <!-- <img src="/img/404.webp" alt=""></img>   -->
</div>


{{- end }}{{/* end main */ -}}